.horizontal {
    display: flex;
    flex: 1 1 auto;
}

p{
    line-height:1.2em;
    height:13em;
    overflow:hidden;
  }

  @media only screen and (max-width: 893px) {
    .horizontal {
        display: flex;
        flex-direction: column;
    }

    p {
        line-height:1.5em;
        height:9em;
        overflow:hidden;
      }
  }