<div class="container p-5">
    <div class="p-4 border text-center" style="background: #f4f2e9">
        <div class=" horizontal">
            <div class="mrg inline text-center">
              <img src="{{book.imageUrl}}" alt="..." style="height: 400px;">
              <div class="row mt-4 ">
                <div class="col-sm-12">
                  <h6 style="margin: 0px">({{book.ratings}})</h6>
                    <ul class="list-inline rating-list" 
                        *ngFor="let star of stars" style="display: inline-block" >
                          <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}">
                            <i class="fa fa-star fa-lg"></i>
                          </li> 
                    </ul>
                </div>
              </div>
              <h4>{{(book.ratingSum/book.ratings).toFixed(2)}}</h4>
            </div>
            <div class="text-center py-2">
              <h3 class="font-weight-bold">{{book.title}}</h3>
              <h5 class="font-italic font-weight-light">{{book.author}}</h5>
              <hr>
              <div class="row">
                <div class="col col-4">
                    <p class="m-0">Genre:</p>
                    <h5 >{{book.genre}}</h5>
                </div>
                <div class="col col-4">
                    <p class="m-0">Pages:</p>
                    <h5 >{{book.pages}}</h5>
                </div>
                <div class="col col-4">
                    <p class="m-0">Published:</p>
                    <h5 >{{book.published}}</h5>
                </div>
              </div>
              <hr>
              <p >{{book.description}}</p>
            </div>
          </div>
          <hr>
          <button class="btn btn-danger my-3" (click)="addToFavorites()" *ngIf="book.favorite==='no'; else remove">Add to favorites</button>
        
          <ng-template #remove>
          <button class="btn btn-danger my-3" (click)="addToFavorites()">Remove from favorites</button> 
          </ng-template>
          <button class="btn btn-success my-3 ml-3" routerLink="/edit-book/{{book.id}}">Edit book</button>
    </div>
    <app-comment-add></app-comment-add>
    <app-comment-list [comments]="comments$"></app-comment-list>
</div>
