<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="classics-tab" data-toggle="tab" href="#classics" role="tab" aria-controls="classics" aria-selected="true">Classics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="mystery-tab" data-toggle="tab" href="#mystery" role="tab" aria-controls="mystery" aria-selected="false">Mystery</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="horor-tab" data-toggle="tab" href="#horor" role="tab" aria-controls="horor" aria-selected="false">Horor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="romance-tab" data-toggle="tab" href="#romance" role="tab" aria-controls="romance" aria-selected="false">Romance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false">Other</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="classics" role="tabpanel" aria-labelledby="classics-tab">...</div>
    <div class="tab-pane fade" id="mystery" role="tabpanel" aria-labelledby="mystery-tab">...</div>
    <div class="tab-pane fade" id="horor" role="tabpanel" aria-labelledby="horor-tab">...</div>
    <div class="tab-pane fade" id="romance" role="tabpanel" aria-labelledby="romance-tab">...</div>
    <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">...</div>
  </div>